
/* Your CSS Code here. */
*{
	margin:0px;
	padding:0px;
}
.box1{
	width:300px;
	margin:20px;
	padding:50px;
	background-color:lightblue;
	text-align:left;
	border:15px;
	border-style:solid;
	border-color:blue;
	box-sizing:border-box;
	
}